.App {
  text-align: center;
}
.container{
  border: 5px solid #5d5d5d;
  margin-top: 10vh;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.container h1{
  text-align: center;
  margin-top: 5vh;
}
.innerbox{
  display: flex;
  flex-direction: row;
  margin: 8vh;
}
.innerbox label{
  width: 120px;
  font-size: 20px;
}
.innerbox input{
  border: 1px solid white;
  margin-left: 10vw;
  font-size: 20px;
  height: 45px;
  padding: 10px 10px 10px 40px;
  flex-grow: 1;
  border-radius: 10px;
  width: 50vw;
}
.button{
  padding: 10px 40px;
  background-color: #2827cc;
  color: #f5f5f5;
  border-radius: 15px;
  margin-left: 5vw;
  font-size: 20px;
  margin: 20px;
}